<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.BookDAO">

    <select id="showAll" resultType="Book">
        select id,name,author,price,pageNumber,createDate,message,imgPath,sales
        from t_book
    </select>

    <select id="selectById" resultType="Book" parameterType="String">
      select id,name,author,price,pageNumber,createDate,message,imgPath,sales
      from t_book
      where id=#{id}
    </select>

    <insert id="insert" parameterType="Book">
        insert into t_book values(#{id},#{name},#{author},#{price},#{pageNumber},#{createDate},#{message},#{imgPath},#{sales})
    </insert>

    <update id="update" parameterType="Book">
        update t_book set sales=#{sales}
        where id=#{id}
    </update>

</mapper>